## Data Structures

### More on Lists

In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')
# Count() is  a list method that counts the number of times the argument('apple' in this case) appears 
# in the list.

2

In [2]:
fruits.count('tangerine')

0

In [3]:
fruits.index('banana')
# The list method index() returns the index of banana in the list.

3

In [8]:
fruits.index('banana',4,7)
# The start and end arguments(4,7 in this case) are optional but as here are two bananas we have to 
# search for the other starting from the index 4 till index 7.

6

In [12]:
fruits.reverse()
fruits
# The reverse() method reverse the elements of the list in place.

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [14]:
fruits.append('grape')
fruits
# The append() method adds the value at the end to the list.

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [17]:
fruits.sort()
fruits
# The sort method sorts the element of the list inplace.

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [18]:
fruits.pop()
# The pop() method removes and return the last item in the list.If the index is specified in the method
# like pop(i) the item on the specified index will be removed and returned.

'pear'

### Points to Ponder

In [19]:
# Methods like insert,remove,sort also have a return value 'None'
# Not all data can be compared for example you have a list [None ,'juice'45] it does not sort because
# integers can not be compared to strings  and 'None' can not  be compared to other datatypes.

[None, 3, 'juiice']

## Using Lists as Stacks

In [20]:
# Stack is a LIFO data structure in which  the last element is the first to get out.By using the list 
# method it is very easy to use lists as stacks.To add item to the top of the stack use append() to 
# remove item from the top of the stack use pop()

In [21]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)

In [22]:
stack

[3, 4, 5, 6, 7]

In [23]:
stack.pop()

7

In [24]:
stack.pop()

6

In [25]:
stack

[3, 4, 5]

## Using list as queues

In [26]:
# Queue is a FIFO data structure in which the first element added will be the first to get out.
# however, lists are not efficient for this purpose. While appends and pops from the end of list are 
# fast, doing inserts or pops from the beginning of a list is slow.

In [42]:
# To implement a queue, use collections.deque which was designed to have fast appends and pops 
# from both ends.
from collections import deque
queue=deque(['Salman','Ali','Amir'])
queue.append("Mirwais")           # Mirwais arrives
queue.append("Hamza")            # Hamza arrives

In [43]:
queue.popleft() # The first to arrive leaves at first

'Salman'

In [44]:
queue.popleft() # The second to arrive leaves at second

'Ali'

In [45]:
queue

deque(['Amir', 'Mirwais', 'Hamza'])

## List Comprehension

In [46]:
#List comprehensions provide  a concise way to make lists.Common applications are to make new lists 
# where each element is the result of some operations applied to each member of another sequence or 
# iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [48]:
# commonly when we have to create a list of squares.
squares=[]
for x in range(10):
    squares.append(x**2)
squares
# Note that this creates (or overwrites) a variable named x that still exists after the loop completes. 
# We can calculate the list of squares without any side effects using:

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [49]:
squares=[x**2 for x in range(10)]
squares
# Here in the above code it creates the variable x and uses it to iterate over the range but it is 
# local to the comprehension. Once the comprehension completes it is no longer accessible.

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [50]:
squares=list(map(lambda x:x**2,range(10)))
squares   
# range(10) creates an iterable and the map function applies the lambda function(which calculates the 
# square) to each element in the iterable generated by range(10).

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [51]:
[(x,y) for x in [1,2,3] for y in [3,1,4] if x!=y]
# Here it is like a nested loop a list is made of tuples (x,y) where the condition x not equals y meets
# in the first iteration for the first for loop it compares x=1 with the value y gets in each iteration
# of the second for loop.If it matches the tuple is added to the list.

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

### Practice on List Comprehensions

In [53]:
vec=[-4,-2,0,2,4]
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [57]:
[x for x in vec if x>=0 ]

[0, 2, 4]

In [58]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [59]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[x.strip() for x in freshfruit]
# the strip() method removes the spaces from the start and end of the string.

['banana', 'loganberry', 'passion fruit']

In [60]:
[(x,x**2) for x in vec]

[(-4, 16), (-2, 4), (0, 0), (2, 4), (4, 16)]

In [9]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[i for x in vec for i in x]
# The logic is that in first loop you get into each sublist and then in the second loop you get into 
# each element of the sublist.Here in this code 'i' is the main objective that you want so you apply the
# logic using two for loops to get the value of i.

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
from math import pi
[round(pi,i) for i in range(5)]
# The above code import pi from the python math library and then uses the round() method to round the 
# value of pi  to decimal places according to the number generated by the iterable range(5).

[3.0, 3.1, 3.14, 3.142, 3.1416]

## Nested List Comprehensions

In [4]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [7]:
# Transpose of a matrix
[[x[i] for x in matrix] for i in range(4)]
# In nested list comprehensions the loop that appears on the outermost level is the outerloop (range(4)
# in this case) and then for each iteration of the outer loop the inner loop 'x[i] for x in matrix' is
# executed.

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [11]:
list(zip(*matrix))
# The zip() function works by iterating over the provided iterables in parallel.In each iteration it 
# combines the elements at the same position of each iterable and creates a tuple.Here the '*' passes
# all of the iterables in the matrix together.The above code in python is commonly used for finding the
# transpose of a matrix.

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

## The del Statement

In [12]:
# There is a way to remove an item from a list given its index instead of its value: the del statement.
# This differs from the pop() method which returns a value. The del statement can also be used to 
# remove slices from a list or clear the entire list (which we did earlier by assignment of an empty 
# list to the slice).

In [16]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [17]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [19]:
del a[:]
a

[]

In [20]:
# del can also be used to delete entire variables
del a

In [21]:
# Refrencing a now will give you an error
a

NameError: name 'a' is not defined

## Tuples and Sequences

In [23]:
# Tuple is a sequence datatype.Tuple consists of a number of values seperated by commas

In [43]:
t = 12345, 54321, 'hello!' # Tuple packing
t[0]

12345

In [31]:
t

(12345, 54321, 'hello!')

In [32]:
# Tuples can be nested as well
u=t,(1,2,3,4,5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [33]:
#Tuples are immutable
t[0]=8923

TypeError: 'tuple' object does not support item assignment

In [34]:
# But they can contain mutable objects
tup=[1,2,4],[5,6,7]
tup

([1, 2, 4], [5, 6, 7])

In [36]:
# Empty tuples can be constructed by an empty pair of parenthesis
a=()
a

()

In [44]:
# A single value tuple can be constructed by following a value with a comma
tx='singelton',
tx

('singelton',)

In [41]:
b=('singelton',)
b

('singelton',)

In [46]:
x,y,z=t
print('x :',x,' ','y :',y,' ','z :',z)

x : 12345   y : 54321   z : hello!

## Sets

In [1]:
# Python also includes a data type for sets. A set is an unordered collection with no duplicate 
# elements Basic uses include membership testing and eliminating duplicate entries. Set objects also 
# support mathematical operations like union, intersection, difference, and symmetric difference.Curly 
# braces or the set() function can be used to create sets. Note: to create an empty set you have to use 
# set(), not {}; the latter creates an empty dictionary

In [2]:
basket ={'apple','pear','apple','peach','banana'}
basket
# The set itself removes the duplicate elements

{'apple', 'banana', 'peach', 'pear'}

In [3]:
# set offers fast memebership testing
'peach' in basket

True

In [4]:
'orange' in basket

False

In [5]:
a=set('abracadabra')
a

{'a', 'b', 'c', 'd', 'r'}

In [6]:
b=set("alacazam")
b

{'a', 'c', 'l', 'm', 'z'}

In [7]:
a-b #letter in a but not in b

{'b', 'd', 'r'}

In [9]:
a|b # letter in a or b both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [10]:
a&b # letter in a or b both

{'a', 'c'}

In [11]:
a^b #letters in a or b but not in both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [12]:
# Set comprehensions
{x for x in a if x not in 'abc'}

{'d', 'r'}

## Dictionaries

In [ ]:
# Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which 
# can be any immutable type; strings and numbers can always be keys.Tuples can be used as keys if they
# contain only strings, numbers, or tuples; if a tuple contains any mutable object either directly or 
# indirectly, it cannot be used as a key.It is best to think of a dictionary as a set of key: value 
# pairs, with the requirement that the keys are unique.

In [20]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido']=1427
tel
# you can add up a new item in the dictionary by using the above syntax

{'jack': 4098, 'sape': 4139, 'guido': 1427}

In [21]:
tel['jack']
# dictionaries are indexed by keys so you can access their values using keys

4098

In [22]:
del tel['sape']
tel
# You can delete a key value pair in a dictionary using del

{'jack': 4098, 'guido': 1427}

In [23]:
tel['irv'] = 4127
tel

{'jack': 4098, 'guido': 1427, 'irv': 4127}

In [24]:
list(tel)
# Performing list() method on a dictionary returns a list of all the keys.

['jack', 'guido', 'irv']

In [25]:
sorted(tel)
# if you want it sorted  perform sorted() method.

['guido', 'irv', 'jack']

In [26]:
'guido' in tel

True

In [27]:
'salman' not in tel

True

In [28]:
'jack' not in tel

False

In [29]:
dict([('ali',591),('salman',3059),('faiz',3058)])
# The dict() constructor builds the dictionary directly from the sequences of key value pairs.

{'ali': 591, 'salman': 3059, 'faiz': 3058}

In [30]:
# dict comprehensions can also be used to create dictionaries
{x:x**2 for x in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [31]:
# When the keys are simple strings, it is sometimes easier to specify pairs using keyword arguments
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

## Looping Techniques

In [33]:
# When looping through dictionaries, the key and corresponding value can be retrieved at the same 
# time using the items() method.
knights={'gallahad':'the pure','robin':'the brave'}
for i,k in knights.items():
    print(i,k)

gallahad the pure
robin the brave

In [37]:
# When looping through a sequence, the position index and corresponding value can be retrieved at the 
# same time using the enumerate() function.
for index,value in enumerate(['tic','tac','toe']):
    print(index,value)

0 tic
1 tac
2 toe

In [39]:
# To loop over two or more sequences at the same time, the entries can be paired with the zip() function.
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q ,a in zip(questions,answers):
    print('what is your ',q,'? It is ',a)

what is your  name ? It is  lancelot
what is your  quest ? It is  the holy grail
what is your  favorite color ? It is  blue

In [42]:
# To loop over a sequence in reverse first specify the sequence in forward direction then call the 
# reversed() function.
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

In [43]:
# To loop over a sequence in sorted order, use the sorted() function which returns a new sorted list 
# while leaving the source unaltered.
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

In [45]:
# It is sometimes tempting to change a list while you are looping over it; however, it is often simpler
# and safer to create a new list instead.
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

## Compairing sequence and other types

In [ ]:
# Sequence objects typically may be compared to other objects with the same sequence type. The 
# comparison uses lexicographical ordering: first the first two items are compared, and if they differ
# this determines the outcome of the comparison; if they are equal, the next two items are compared
# , and so on, until either sequence is exhausted. If two items to be compared are themselves 
# sequences of the same type, the lexicographical comparison is carried out recursively.

In [46]:
(1, 2, 3)< (1, 2, 4)

True

In [48]:
[1, 2, 3] < [2, 0, 0]

True

In [49]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [50]:
(1, 2, 3, 4)  < (1, 2, 4)

True

In [51]:
(1, 2) < (1, 2, -1)

True

In [52]:
(1, 2, 3) == (1.0, 2.0, 3.0)

True

In [53]:
(1, 2, ('aa', 'ab')) < (1, 2, ('abc', 'a'), 4)

True