In [1]:
print(4*3.75-1)
# if there are multiple datatypes in an operation than the result will  be in the float datatype.

14.0

In [41]:
print(5//3)
# the above code shows the floor division it is also used to get the integer part of the result gained from the division of the 
# 2 numbers

1

## Strings are immutable

In [3]:
word='Python'
word[0]='j'
# the code shows that strings are immutable they can not be changed like lists

TypeError: 'str' object does not support item assignment

In [4]:
# if you want to change it anyways do the following method
new_word='j'+word[1:]
new_word

'jython'

## Multiple assignment

In [6]:
#fibonaci series
a,b=0,1
while a<10:
    print(a," ")
    a,b=b,a+b
# The main purpose of the above code is to show the multiple assignment to the variables 'a' and 'b'
# they simultaneously get the values 0 and 1 furthermore a while loop is used which will iterate untill
# a is less than 10 (while loop always iterates when the condition provided is true) and then it prints 
# the fibbonaci series in which the third number is the sum of the previous two numbers

0
1
1
2
3
5
8

In [9]:
#fibonaci series
a,b=0,1
while a<10:
    print(a,end=' ')
    a,b=b,a+b
#The argument end is used to avoid the newline and end the output with the string value of end variable

0 1 1 2 3 5 8

## Higher precedence

In [13]:
print(-3**2)
# since ** has higher precedence than - so it will be calculated as -(3**2)
# to avoid it you can  write it as
print((-3)**2)

-9
9

## Modifying a dictionary

In [29]:
# Create a sample collection
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}

# making copy using the list  method
for user,status in list(users.items()):
    if status=='inactive':
        del users[user]

# Strategy:  Create a new collection
active_users = {}
for user,status in list(users.items()):
    if status=='active':
        active_users[user]=status
print(users)
print(active_users)

{'Hans': 'active', '景太郎': 'active'}
{'Hans': 'active', '景太郎': 'active'}

In [37]:
# 2 method to do the above code
# make a  copy using copy function
for user,status in users.copy().items():
    if status=='inactive':
        del users[user]
        
active_users = {}
for user,status in users.items():
    if status=='active':
        active_users[user]=status
print(users)
print(active_users)

# The code snippet is a solution for an error:dictionary changed size during iteration, in python while iterating through a diction
# -ry you can not add or delete something in that original dictionary for that purpose if you want to make changes in the diction
# -ry you have to create a copy for it copy can be made by two methods .copy() and the list() method the former method creates 
# a copy of the dictionary items here the dictionary is having the copy() method if you write the .copy() after the items it will give
# an AttributeError: 'dict_items' object has no attribute 'copy' the later method creates a list of the items of dictionary and 
# then iterates over it.In the remaining code if the status which is the value of the respective key(user) in the dictionary matches
# the value 'active' then the respective key and its value is deleted from the dictionary and later on in the other code snippet
# it iterates on the items of the dictionary users and if the status is equal to 'active' it adds the key and its value to the 
# dictionary active_users

{'Hans': 'active', '景太郎': 'active'}
{'Hans': 'active', '景太郎': 'active'}

In [38]:
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}
sal=users.copy().items()
sal

dict_items([('Hans', 'active'), ('Éléonore', 'inactive'), ('景太郎', 'active')])

In [39]:
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}
sal=list(users.items())
sal

[('Hans', 'active'), ('Éléonore', 'inactive'), ('景太郎', 'active')]

## Break and Continue Statements, and else clauses on loops

In [48]:
for n in range(2,10):
    for x in range(2,n):
        if n%x==0:
            print(n,'equals', x,'x',n//x)
            break
    else:
        print(n,'is a prime number')
#The else statements with for loop is executed when the loop terminates through exhaustion of the 
# iterable and when the condition is false for while loop and is not executed when the loop is terminat
# -ed with a break statement.The code above finds a prime number from range 2 to 10.In the first loop
# n is the iterable through the range 2 to 10  similarly in the second loop x is the iterable through
# the range 2 to n here  we take the range 2 to n for the purpose that when we find prime numbers
# we do not take division by 1 of the number into consideration, so in the second loop we divide the 
# number 'n' by 'x' starting from 2 to n and as we find its first factor we break the loop.If the factor
# is not found then the else statement is executed.NOTE that the  else statement is with the for
# loop not with the if statement.

2 is a prime number
3 is a prime number
4 equals 2 x 2
5 is a prime number
6 equals 2 x 3
7 is a prime number
8 equals 2 x 4
9 equals 3 x 3

In [50]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found an odd number", num)
# The above code finds an even number with the help of continue statements the continue statement
# is used as an alternate for the else statement here.The code finds even and odd numbers within the 
# range 2 to 10 here 'num' is the iterable for the loop later on in the  if the reminder of 
# num modulo 2 equals to zero the if statement is executed if not then it continues and executes the 
# remaining code

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

## Pass statements

In [51]:
# The pass statements are used when they statements is required syntactically but the promgram does 
# not perform any action
def func():
    pass
# The advantage of a pass statement is that you can have a reminder to write the code later and by 
# doing it the code remains valid and does not throw an error

## Match Statements

In [70]:
def http_error(status):
    match status:
        case 400:
            return 'Bad request'
        case 404:
            return 'Page not found'
        case 418:
            return "I'm a teapot"
        case _:
            return "There is something wrong with the internet"
http_error()

#Match statements in python are just the same as Switch statements in C,C++ or any other language
# the match statement takes a value for an expression (as status in the above code) and then compares it
# with the values of the case statements so the case block is executed accordingly.Here the '_' is used 
# as replacement for the default statement  in other languages it never fails to match with any  value 
#for the expression and its block is executed when the expressions value does not match the above 
# case statement values.

'There is something wrong with the internet'

In [77]:
#You can combine several literals in a single pattern as well
def http_error(status):
    match status:
        case 400| 404 |410:
            return 'Not allowed'

print(http_error(400))  
print(http_error(454))
# Here if you enter any value among 400,404 and 410 it will return the result 'Not allowed'.If no case
# matches it will give None output(none of the branches is executed)

Not allowed
None

In [95]:
point=(2,3)
match point:
    case(0,0):
        print('Origin')
    case(0,y):
        print('Y =',y)
    case(x,0):
        print('X =',x)
    case(x,y):
        print('X =',x,'Y =',y)
    case _:
        raise ValueError('Not a point')
# The above code is an example of the unpacking assignment.Here in the first case statement there are
#  two literals and the next two statements there are both literal and a variable the variable takes
# the value from point tuple.In the second last statement there are two variables the elements of the 
# point tuple are unpacked 2 is assigned to x and 3 is assigned to y.Code raises a Value error with
#  a message 'Not a point 'if it experiences a value which can not be defined as a point in the code.

X = 2 Y = 3

## Functions

In [98]:
def fib(n):
    a,b=0,1
    result=[]
    while a<n:
        result.append(a)
        a,b=b,a+b
    return result
fib(10)
# The code snippet is the function which calculate the fibbonaci series for the number which is given
# to it as an argument.Furthermore an empty list is defined to which each number of the series is append
# -ed in the loop by calling the append() method of the list object the loop iterates till the number 
# 'a' is smaller than the number 'n' when the loop is terminated the series is returned in the form of
# list.

[0, 1, 1, 2, 3, 5, 8]

### Default Argument Values

In [ ]:
def ask_ok(prompt,tries=4,reminder='Please try again!'):
   
    while True:
        ok=input(prompt)
        if ok in ('y','yes'):
            return True
        elif ok in ('n','no'):
            return False
        tries=tries-1
        if tries<0:
            raise ValueError('Out of tries')
        print(reminder)
#The function can be called in several ways
# ask_ok('Do you really want to quit?')
# ask_ok('OK to overwrite the file?', 2)
ask_ok('OK to overwrite the file?', 2, 'Come on, only yes or no!')
# The code shows the behaviour of default values passed to a function. A function can be called with
# less arguments then it is defined  if you specify the default values for the arguments.Here this code
# also clears the concept of 'in' as well which checks if the given value is present in the sequence or 
# not.The value of tries '4' and reminder 'Please try again!' are specified as default values.The code
# asks for the prompt and returns True or False according to the prompt value and for incorrect value
# of the prompt the code asks again until you are out of tries.When you get out of tries it raises a
# Value error with a message "Out of tries".

In [110]:
#IMPORTANT:- The default value is evaluted only once the behaviour of the default value gets change
# if it is a mutable object
def func(a,l=[]):
    l.append(a)
    return l
print(func(1))
print(func(2))
print(func(3))
#The code explains the change behaviour when the default value of an argument is mutable here initially
# the value of the list 'l' is empty when it is called once the value of 'a' is appended.so whenever it
# is called again the list 'l' will be having the value of a which was appended in it when it was called
# the previous time and the size of the list will depend on how many times it is being called.

[1]
[1, 2]
[1, 2, 3]

In [111]:
def func(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L
print(func(1))
print(func(2))
print(func(3))
# Now if you don't want the default value to be shared by subsequent calls you can pass the default
# value as None and then simply intialize the list as '[]' empty in the if block whenever the 
# function is called

[1]
[2]
[3]

## Keyword Arguments

In [1]:
# The keyword argument gives you the benefit of improved code readability and flexibility in argument 
# order

def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [5]:
#1- parrot(1000)
# Here a positional argument is passed to a function

# 2-parrot(voltage=1000)
# The syntax of passing a keyword argument to a function is like the second function call.

# 3- parrot(voltage=1000000, action='VOOOOOM')
# you can pass the number of keyword arguments according to the number of arguments you have declared 
# when defining a function.You can pass less but not more as in the 3 function call 2 keyword arguments
# are passed

parrot('a thousand', state='pushing up the daisies')
# you can also pass a combination of a positonal argument and a keyword argument but do keep in mind 
# in a function call the key word argument must follow a positional argument.

-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

### The following calls will be invalid

In [6]:
# 1-parrot()
# Here the required argument is missing

# 2-parrot(voltage=5.0, 'dead')
# a positional argument after a keyword argument.Keyword argument must follow.

# 3-parrot(110, voltage=220)
# duplicate value for the same argument

parrot(actor='John Cleese') 
# An unknown keyword argument 'actor' is passed the function parrot does not have an argument named 
# actor

TypeError: parrot() got an unexpected keyword argument 'actor'

### *args and **kwargs

In [ ]:
#ADVANTAGES OF *args AND **kwargs OVER SIMPLY PASSING LIST,TUPLE OR DICTIONRY
# 1-variable length arguments:-An *args parameter allows the  function to be called with an arbitrary 
# number of non-keyword arguments.This can help you when you do not know in advance that how many 
# arguments will be passed.An **kwargs parameter allows the function to be called with an 
# arbitrary number of keyword arguments

# 2- Reusability with differenct arguments:- You can reuse the function with different arguments easily

In [8]:
# In a function if a parameter of the form **kwargs is present it receives a dictionary and if a
# parmeter of the form *args is present it receives a tuple (**kwargs must follow *args)
def find_max(*args):
    return max(args)
print(find_max(3, 99, 1001, 2, 8))
# The above function receivesa tuple and find the max number out of it

1001

In [15]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print('-'*40)
    for kw in keywords:
        print(kw,':',keywords[kw])

cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")
# The code shows how the parmaters like *args and **kwargs are passed and how do we access each element
# of them in the function body.Here the 'arguments' parameters take up two values ("It's very runny, sir.",
# "It's really very, VERY runny, sir.") and the 'keywords' parameter takes a dictionary 
# { shopkeeper="Michael Palin",
#            client="John Cleese",
#            sketch="Cheese Shop Sketch"} 
# both of these parameters are unpacked using for loop.

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
("It's very runny, sir.", "It's really very, VERY runny, sir.")
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

## Special Parameteres

In [16]:
# By default, arguments may be passed to a Python function either by position or explicitly by keyword.
# For readability and performance, it makes sense to restrict the way arguments can be passed so that 
# a developer need only look at the function definition to determine if items are passed by position,
# by position or keyword, or by keyword.

# if / and * are not present in a function definition then they arguments may be passed by position or
# by keyword

In [17]:
# 1- POSITION ONLY PARAMETERS:- The positon only parameters are placed before '/' in a function definit
# -ion.
def pos_only_arg(arg, /):
    print(arg)
pos_only_arg(1)

1

In [18]:
pos_only_arg(arg=1)

TypeError: pos_only_arg() got some positional-only arguments passed as keyword arguments: 'arg'

In [19]:
# 2- KEYWORD ONLY ARGUMENTS:-The keyword only  parameters placed after '*' in a function definition
def kwd_only_arg(*, arg):
    print(arg)
    
kwd_only_arg(arg=3)

3

In [20]:
kwd_only_arg(3)

TypeError: kwd_only_arg() takes 0 positional arguments but 1 was given

In [21]:
# -3 COMBINED PARAMETERS:-In combined function both the parameters positional and keyword both can be 
# passed but before and after their respective signs.

def combined_example(pos_only, /, standard, *, kwd_only):
    print(pos_only, standard, kwd_only)
combined_example(1, 2, kwd_only=3)
#NOTE: In case of standard argument you can pass both positional and keyword argument

1 2 3

In [22]:
combined_example(1, standard=2, kwd_only=3)

1 2 3

In [23]:
combined_example(1, 2, 3)

TypeError: combined_example() takes 2 positional arguments but 3 were given

In [24]:
combined_example(pos_only=1, standard=2, kwd_only=3)

TypeError: combined_example() got some positional-only arguments passed as keyword arguments: 'pos_only'

In [29]:
#Benefits of using the symbol '/'
# if there is a potential collision between the position argument 'name' and 'name' a key in **kwds.
def func(name,**kwds):
    return 'name' in kwds

func(1,**{'name':2})

# so here the function gets confuse that which name is it reffering to the positional argument one
# or the key in kwds

TypeError: func() got multiple values for argument 'name'

In [33]:
# so for that purpose we use the symbol '/' to identify the positional argument
def func(name,/,**kwds):
    return 'name' in kwds

func(1,**{'name':2})
#In this code while passing the dictionary you can not just pass the dictionary without putting '**'
# infront of it because it is a keyword argument.

True

## Arbitraray argument list

In [39]:
#any parameters that occur after *args are keyword only arguments
def concat(*args,sep='.'):
    print(sep.join(args))
concat("earth", "mars", "venus")
# the function joins the list of arguments with a seperator '.' in this case.

earth.mars.venus

In [40]:
def concat(*args,sep='.'):
    for arg in args:
        print(sep.join(arg))
        
concat("earth", "mars", "venus")
# Here the output is changed because the join() method is applied on each argument and it joins each 
# argument with the seperator '.'

e.a.r.t.h
m.a.r.s
v.e.n.u.s

## Unpacking Argument lists

In [48]:
list(range(3, 6))
#call with seperate argument lists

[3, 4, 5]

In [47]:
args=[3,6]
list(range(*args))
# here the arguments are unpacked using '*'

[3, 4, 5]

In [49]:
def parrot(voltage, state='a stiff', action='voom'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.", end=' ')
    print("E's", state, "!")

d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}
parrot(**d)
# here the dictionary 'd' is passed and is unpacked using "**"

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

## Lambda Expressions

In [50]:
def make_incrementor(n):
    return lambda x:x+n
f=make_incrementor(34)
f(0)

34

In [51]:
f(3)
# The above code snippet increments a value 'n' according to the argument passed to the lambda functio
# -n .The function make incrementor returns a lambda function here so later on in the code the variable 'f' is assigned
# the lambda function in f(0) 0 is the argument of the lambda function and we increments the value n
# by 0 and similarly in f(3) it increments the value n by 3

37

In [52]:
# Here in this example the lambda function is passed as an argument to the sort() method.
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair:pair[1])
pairs
# The above chunk of code is an example to show how the lambda functions can be passed as an argument.
# Here the list pairs is sort in place means that it modifies the original list rather than creating
# a new list.The lambda function takes each pair(each tuple of the list) and returns the second element
# of it which is at index [1]. Then the sort function sorts the lists on the basis of the return values

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

## Data Structures

### More on Lists

In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')
# Count() is  a list method that counts the number of times the argument('apple' in this case) appears 
# in the list.

2

In [2]:
fruits.count('tangerine')

0

In [3]:
fruits.index('banana')
# The list method index() returns the index of banana in the list.

3

In [8]:
fruits.index('banana',4,7)
# The start and end arguments(4,7 in this case) are optional but as here are two bananas we have to 
# search for the other starting from the index 4 till index 7.

6

In [12]:
fruits.reverse()
fruits
# The reverse() method reverse the elements of the list in place.

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [14]:
fruits.append('grape')
fruits
# The append() method adds the value at the end to the list.

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [17]:
fruits.sort()
fruits
# The sort method sorts the element of the list inplace.

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [18]:
fruits.pop()
# The pop() method removes and return the last item in the list.If the index is specified in the method
# like pop(i) the item on the specified index will be removed and returned.

'pear'

### Points to Ponder

In [19]:
# Methods like insert,remove,sort also have a return value 'None'
# Not all data can be compared for example you have a list [None ,'juice'45] it does not sort because
# integers can not be compared to strings  and 'None' can not  be compared to other datatypes.

[None, 3, 'juiice']

## Using Lists as Stacks

In [20]:
# Stack is a LIFO data structure in which  the last element is the first to get out.By using the list 
# method it is very easy to use lists as stacks.To add item to the top of the stack use append() to 
# remove item from the top of the stack use pop()

In [21]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)

In [22]:
stack

[3, 4, 5, 6, 7]

In [23]:
stack.pop()

7

In [24]:
stack.pop()

6

In [25]:
stack

[3, 4, 5]

## Using list as queues

In [26]:
# Queue is a FIFO data structure in which the first element added will be the first to get out.
# however, lists are not efficient for this purpose. While appends and pops from the end of list are 
# fast, doing inserts or pops from the beginning of a list is slow.

In [42]:
# To implement a queue, use collections.deque which was designed to have fast appends and pops 
# from both ends.
from collections import deque
queue=deque(['Salman','Ali','Amir'])
queue.append("Mirwais")           # Mirwais arrives
queue.append("Hamza")            # Hamza arrives

In [43]:
queue.popleft() # The first to arrive leaves at first

'Salman'

In [44]:
queue.popleft() # The second to arrive leaves at second

'Ali'

In [45]:
queue

deque(['Amir', 'Mirwais', 'Hamza'])

## List Comprehension

In [46]:
#List comprehensions provide  a concise way to make lists.Common applications are to make new lists 
# where each element is the result of some operations applied to each member of another sequence or 
# iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [48]:
# commonly when we have to create a list of squares.
squares=[]
for x in range(10):
    squares.append(x**2)
squares
# Note that this creates (or overwrites) a variable named x that still exists after the loop completes. 
# We can calculate the list of squares without any side effects using:

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [49]:
squares=[x**2 for x in range(10)]
squares
# Here in the above code it creates the variable x and uses it to iterate over the range but it is 
# local to the comprehension. Once the comprehension completes it is no longer accessible.

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [50]:
squares=list(map(lambda x:x**2,range(10)))
squares   
# range(10) creates an iterable and the map function applies the lambda function(which calculates the 
# square) to each element in the iterable generated by range(10).

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [51]:
[(x,y) for x in [1,2,3] for y in [3,1,4] if x!=y]
# Here it is like a nested loop a list is made of tuples (x,y) where the condition x not equals y meets
# in the first iteration for the first for loop it compares x=1 with the value y gets in each iteration
# of the second for loop.If it matches the tuple is added to the list.

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

### Practice on List Comprehensions

In [53]:
vec=[-4,-2,0,2,4]
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [57]:
[x for x in vec if x>=0 ]

[0, 2, 4]

In [58]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [59]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[x.strip() for x in freshfruit]
# the strip() method removes the spaces from the start and end of the string.

['banana', 'loganberry', 'passion fruit']

In [60]:
[(x,x**2) for x in vec]

[(-4, 16), (-2, 4), (0, 0), (2, 4), (4, 16)]

In [9]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[i for x in vec for i in x]
# The logic is that in first loop you get into each sublist and then in the second loop you get into 
# each element of the sublist.Here in this code 'i' is the main objective that you want so you apply the
# logic using two for loops to get the value of i.

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
from math import pi
[round(pi,i) for i in range(5)]
# The above code import pi from the python math library and then uses the round() method to round the 
# value of pi  to decimal places according to the number generated by the iterable range(5).

[3.0, 3.1, 3.14, 3.142, 3.1416]

## Nested List Comprehensions

In [4]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [7]:
# Transpose of a matrix
[[x[i] for x in matrix] for i in range(4)]
# In nested list comprehensions the loop that appears on the outermost level is the outerloop (range(4)
# in this case) and then for each iteration of the outer loop the inner loop 'x[i] for x in matrix' is
# executed.

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [11]:
list(zip(*matrix))
# The zip() function works by iterating over the provided iterables in parallel.In each iteration it 
# combines the elements at the same position of each iterable and creates a tuple.Here the '*' passes
# all of the iterables in the matrix together.The above code in python is commonly used for finding the
# transpose of a matrix.

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

## The del Statement

In [12]:
# There is a way to remove an item from a list given its index instead of its value: the del statement.
# This differs from the pop() method which returns a value. The del statement can also be used to 
# remove slices from a list or clear the entire list (which we did earlier by assignment of an empty 
# list to the slice).

In [16]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [17]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [19]:
del a[:]
a

[]

In [20]:
# del can also be used to delete entire variables
del a

In [21]:
# Refrencing a now will give you an error
a

NameError: name 'a' is not defined

## Tuples and Sequences

In [23]:
# Tuple is a sequence datatype.Tuple consists of a number of values seperated by commas

In [43]:
t = 12345, 54321, 'hello!' # Tuple packing
t[0]

12345

In [31]:
t

(12345, 54321, 'hello!')

In [32]:
# Tuples can be nested as well
u=t,(1,2,3,4,5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [33]:
#Tuples are immutable
t[0]=8923

TypeError: 'tuple' object does not support item assignment

In [34]:
# But they can contain mutable objects
tup=[1,2,4],[5,6,7]
tup

([1, 2, 4], [5, 6, 7])

In [36]:
# Empty tuples can be constructed by an empty pair of parenthesis
a=()
a

()

In [44]:
# A single value tuple can be constructed by following a value with a comma
tx='singelton',
tx

('singelton',)

In [41]:
b=('singelton',)
b

('singelton',)

In [46]:
x,y,z=t
print('x :',x,' ','y :',y,' ','z :',z)

x : 12345   y : 54321   z : hello!